  body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(45deg, white, aquamarine);
        }
        .tela-login{
           background-color: rgba(0, 0, 0, 0.9); 
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           padding: 80px;
           border-radius: 15px;
        }
        .tela-login>h1{
            color:  white;
        }
        .login-campos{
            padding: 15px;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
        }
        .botao-enviar{
            background-color: aquamarine;
            border: none;
            padding: 15px;
            width: 100%;
            border-radius: 10px;
            font-size: 15px;
        }
        .botao-enviar:hover{
            background-color: aqua;
            cursor: pointer;
        }